* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Roboto";
}

a {
	text-decoration: none;
	font-family: "Roboto";
	text-transform: uppercase;
	margin: 0 10px;
	color: #232323;
	font-size: 1.15rem;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input,
button {
	border-radius: 10px;
	border: none;
	outline: none;
}
